# Taken from here, with some tweaks to suppress checks I don't want:
# https://github.com/cpp-best-practices/cmake_template
---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -portability-avoid-pragma-once,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers
"
WarningsAsErrors: ''
HeaderFilterRegex: '*.hpp'
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'SDL3_mixer/.*;SDL3/.*'