AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterReturnType: None
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
ColumnLimit: 110
IndentAccessModifiers: true
IndentCaseLabels: true
PackConstructorInitializers: Never
PenaltyReturnTypeOnItsOwnLine: 1000
